.main-section-1-green {
    background-color: #09A66D0D;
}

.main__title__text{
    font-size: 70px;
    color: #222222;
    text-align: center;
    padding-top: 100px;
}

.main__subtitle__text{
    font-size: 18px;
    color: #555555;
}

.main--subtitle--text {
    color: #222222;
}

.main--title--text--center {
    text-align: center;
}

.main__arrow__png{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.main__section__1 {
    display: flex;
    background-color: #F3FBF8;
    position: relative;
}

.main__big__picture {
    padding-left: 320px;
}

.main__cards-wrapper {
    position: absolute;
    right: 220px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.main__mini-card {
    display: flex;
    align-items: center;
    gap: 15px;
    background: white;
    padding: 13px 23px;
}

.main__mini-card__content {
    display: flex;
    flex-direction: column;
}
.main__mini-card__number {
    font-size: 48px;
    font-weight: bold;
    color: #222222;
}

.main__mini-card__text {
    font-size: 18px;
    color: #555555;
    line-height: 1.5;
}

