.main--section-4-white {
    background: #FFFFFF;
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.main-items__container__4 {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
}

.main-mid__text__4 {
    font-size: 30px;
    color: #222222;
}

.img__padd {
    padding-left: 150pX;
}

.main-mini__section__4 {
    display: flex;
    align-items: center;
    gap: 25px;
}